<form action="/task" method="post">
  <h1>New Task</h1>
  <div class="form-group">
    <label for="content">Task Name:</label>
    <textarea class="form-control" name="name" rows="4" ></textarea>
  </div>
  <input class="btn btn-lg btn-primary" type="submit" value="Submit" id="submit">
</form>
  
