<form action="/tasks" method="post">
  <div class="col-xs-6">
    <div class="form-group">
      <h3 style="color: rgb(255,110,110)">New Task</h3>
      <textarea class="form-control" name="name" placeholder="create a task" rows="4" ></textarea>
    </div>
      <input class="btn btn-md btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>
