<p>Are you sure you want to delete <%= @task.name %>?</p>

<form method="post" action="/tasks/<%=@task.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>
