<h2> Edit Task </h2>

<% if flash.has?(:message) %>
  <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
<% end %>

<form method="post" action="/tasks/<%=@tasks.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @tasks.name %>">
  <input type="submit" value="submit">
</form>
