<h2> Edit Task </h2>

<form method="post" action="/tasks/<%=@task.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @task.name %>">
  <input type="submit" value="submit">
</form>
