<div class="col-md-6 col-md-offset-3 main-content">

  <h1 class="text-center" style="color: rgb(255,110,110)">Welcome to Planner, <%=current_user.username %>!</h1><br><br>

    <div class="list-group" "text-center">
    <% @tasks.each do |task| %>
      <h3><a href="tasks/<%= task.id%>" class="list-group-item"><%= task.name %></a></h3>
    <% end %><br><br>
    <a class="btn btn-sm btn-primary" href="/tasks/new">Create Task</a>
    </div>

</div>
