<h1>New Task</h1>

<form method="post" action="/tasks/new">
<input type="text" name="name" placeholder="Task Name">

<br>
<label>Add To An Existing List</label><br>
<% @lists.each do |list| %>
<% if list.user_id == @user.id %>
<input type="checkbox" name="list_id" value="<%=list.id%>"><%=list.name%><br>
<% end %>
<% end %>
<br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>
