<p><%= @tasks.name%>

<form method="post" action="/tasks/<%=@tasks.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>

<a href="/tasks/<%=@tasks.id%>/edit">Edit Task </a>
