
  <div class="container">
    <div id="grad1" class="jumbotron">
    <h1 class="text-center">Welcome to Motherhood!</h1>
    <p class="text-center">
      You don’t need to be perfect, you just need to be a mom. <br>
      Prioritize what matters the most with Motherhood Tasks.
    </p>
      <p class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or
        <a class="btn btn-primary" href="/login">Log In</a>
      </p>
    </div>
  </div>
