
 <div class="container">
    <div id="grad1" class="jumbotron">
    <h1 class="text-center" style="color: rgb(255,110,110)">PLANNER+</h1>
    <p class="text-center">
      A NEW WAY TO PLAN AHEAD
    </p>

      <p class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or
        <a class="btn btn-primary" href="/login">Log In</a>
      </p>

  </div>

  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://github.com/MERCERNYC"> Sinatra Project by Juliana Fogg</a>
  </div>
